.eventForm .eventData {
  border: none;
  border-radius: 2px;
  margin: 2px;
}

.eventForm button {
  border: none;
  background-color: white;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 2px;
}
