.weekdays {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  color: #9a999b;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  gap: 3px;
}
