.calendarHead {
  background-color: #eeeff1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1 {
  font-size: 16px;
}

.navigation {
  display: flex;
  gap: 5px;
  height: 100%;
  font-size: 16px;
}

.toggle {
  display: flex;
  gap: 5px;
  height: 100%;
  font-size: 16px;
}

.navigation button {
  background-color: #e3e4e6;
  border: none;
  height: 2em;
  width: 2.5em;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: #9a999b;
}

.toggle button {
  font-weight: bold;
  font-size: 12px;
  background-color: #e3e4e6;
  border: none;
  text-align: center;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  height: 2em;
}

.toggle .on {
  background-color: #cacfd2;
}

.navigation .date {
  border: none;
  border-radius: 2px;
}
