.event {
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  font-weight: 400;
  margin: 5px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title button {
  box-sizing: content-box;
  padding: 0;
  border: none;
  border-radius: 2px;
}

.delete {
  height: 1rem;
  width: 1rem;
}

.marks {
  display: flex;
}

.mark {
  height: 5px;
  width: 30px;
  border-radius: 2px;
}

.green {
  background-color: yellowgreen;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}
